.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  .main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    
    .content-area {
      flex: 1;
      overflow-y: auto;
      background-color: #f5f5f5;
      padding: 24px;
    }
  }
}

.app-container-login {
  width: 100%;
  height: 100vh;
}